<footer class="">
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center text-md-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <!-- METTRE l'image du logo-->
        <!-- METTRE sous forme de liste-->
          <i class="bi bi-geo-fill"></i>
          <p>
           Central Canebière – 10 Rue de la République <br>
           F-13001 Marseille <br>
           France 
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CONTACTS</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <i class="bi bi-globe"></i><a href="https://www.adepro-consultant.fr/" class="text-body">www.adepro-consultant.fr</a>
            </li>
            <li>
              <i class="bi bi-envelope-fill"></i><a href="#!" class="text-body">contact@adepro-consultant.fr</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">INFORMATIONS</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="/about" class="footer-link">À propos de nous</a>
            </li>
            <li>
              <a routerLink="/legal-notices" class="footer-link">Mentions légales</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2026 Adepro - Concevez vos savons avec amour !
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</footer>